# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/
*.db
*.log
autotools/
log.txt
a.txt
# local_demo/
# gin_test_project/gin_call_python_script/call_apt_parser/backup/gapi
go.mod
go.sum